{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CSS/FP_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/af3bc8c33b.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Forgot Your Password</title>
</head>

<body>
    <p id="loadingtext">
        <span style="--i:1">S</span>
        <span style="--i:2">E</span>
        <span style="--i:3">N</span>
        <span style="--i:4">D</span>
        <span style="--i:5">I</span>
        <span style="--i:6">N</span>
        <span style="--i:7">G</span>
        <span style="--i:8"> </span>
        <span style="--i:9">M</span>
        <span style="--i:10">A</span>
        <span style="--i:11">I</span>
        <span style="--i:12">L</span>
    </p>
    <div class="loadingdiv" id="loaddiv">
        <div class="circle"></div>
    </div>
    <div class="container" id="maincontainer">
        {% for msg in messages %}
			{%if msg is not null%}
				<div class="alert {{msg.tags}} alert-dismissible fade show" id="alertmessages">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h6>{{msg}}</h6>
				</div>
			{% endif %}
		{% endfor %}
        <div class="FormBx">
            <form action="forgotpassword" method="POST" id="forgotpasswdform">
                {% csrf_token %}
                <h2>Forgot Password</h2>
                <div class="form-group">
                    <input type="text" name='receiver_name' required id="rname" />
                    <label><span>Email</span></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-secondary">Help me Reset my password</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('document').ready(function(){
            $('#forgotpasswdform').on('submit',function(e){
                var loadtext=document.getElementById('loadingtext')
                var loaddiv=document.getElementById('loaddiv')
                var cont=document.getElementById('maincontainer')
                loadtext.style.display="block"
                loaddiv.style.display="block"
                cont.style.opacity="0.2"
                cont.style.pointerEvents="none"
            })
        })
    </script>
</body>
</html>