@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#topnav{
    padding: 10px;
    z-index: 1;
}
#topnav .navbar-brand img{
    width: 50px;
    height: 50px;
    position: relative;
    top: -10px;
    left: 10px;
}
#topnav ul li {
    animation: fadeInRight 0.5s linear forwards;
    opacity: 0;
    transition: all 0.3s;
    font-family: 'Sahitya', serif;
    font-weight: 700;
    font-size: 20px;
    margin-right: 60px;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

#topnav ul li:nth-child(1) {
    animation-delay: 0.25s;
}

.header_text{
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size:30px;
}

#topnav ul li:nth-child(2) {
    animation-delay: 0.50s;
}

#topnav ul li a,
#topnav ul #usrnm span {
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 2px;
    transition: all 0.5s;
}

#topnav ul #usrnm i,
#topnav ul #usrnm span{
    color: #ff8533;
    font-size:1.5em;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0;
}

#topnav ul li#usrnm{
    position: relative;
    top: 12px;
}

#topnav ul li#usrnm i{
    font-size: 30px;
} 

#topnav ul li#usrnm #topname{
    font-size: 25px;
    position: relative;
    top: -10px;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
}

#topnav ul li#usrnm #topmail{
    font-size: 14px;
    position: relative;
    left: 32px;
    top: -25px;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
}

#topnav ul #usrnm i{
    color: cadetblue;
    margin-right: 0;
}

#topnav ul li .dropdown-menu a{
    color: white;
    border-radius: 5px;
    margin-bottom: 7px;
    margin-top: 7px;
}

#topnav ul li .dropdown-menu a:hover{
    color: cadetblue;
    background-color: #fff;
    text-decoration: none;
}

#topnav ul li .dropdown-menu{
    background-color: cadetblue;
    position: absolute;
    left: -130px;
    font-size: 1em;
    margin:0;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}


#topnav ul li .dropdown-menu #dropusrnm{
    display: none;
}

#topnav ul .dropdown #navbardrop i{
    font-size: 1.2em;
    min-width: 10px;
}

#topnav ul li .dropdown-menu hr{
    margin: 0;
    padding: 0;
    border-color: #f2f2f2;
}

#topnav ul li .dropdown-menu #firsthr{
    display: none;
}

.container-fluid {
    display: flex;
    align-items: stretch;
    padding: 10px;
}

i,
span {
    display: inline-block;
}

#sidenav {
   min-width: 200px;
    max-width: 250px;
    background: cadetblue;
    color: #fff;
    transition: all 0.3s;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 10px;
}

#sidenav ul li{
    list-style-type: none;
}

#sidenav .sidenav-header {
    padding: 15px;
    background: cadetblue;
    border-radius: 7px;
    display: none;
}

#sidenav ul.sidenav-components {
    padding: 20px 0;
}

#sidenav ul li a {
    padding: 5px;
    font-size: 1.2em;
    display: block;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 10px;
    animation: fadeInRight 0.5s linear forwards;
    opacity: 0;
}

#sidenav ul li a:nth-child(2){
    animation-delay: 0.3s;
}

#sidenav ul li a:nth-child(3){
    animation-delay: 0.6s;
}

#sidenav ul li a:nth-child(4){
    animation-delay: 0.9s;
}

#sidenav ul li a:nth-child(5){
    animation-delay: 1.2s;
}

#sidenav ul li a:nth-child(6){
    animation-delay: 1.5s;
}

#sidenav ul li a:nth-child(7){
    animation-delay: 1.8s;
}

#sidenav ul li a:hover {
    color: cadetblue;
    background: #fff;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidenav ul li a i {
    margin-right: 10px;
}

#sidenavCollapse{
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar .navbar-brand .header_text{
        font-size: 20px;
    }
    .navbar ul #usrnm{
        display: none;
    }
    #topnav ul li.dropdown #navbardrop{
        position: absolute;
        top: 90%;
        left: 150px;
    }
    #topnav ul li .dropdown-menu{
        top:50px;
        left: -45px;
        font-size: 15px;
    }
    #topnav ul li .dropdown-menu #dropusrnm{
        display: block;
    }
    #topnav ul li .dropdown-menu #firsthr{
        display: flex;
    }
    #sidenav {
        min-width: 65px;
        max-width: 65px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidenav.active {
        margin-left: 0 !important;
    }
    #sidenav .sidenav-header h3
    {
        font-size: 15px;
    }
    #sidenav ul li a {
        padding: 20px 10px;
    }
    #sidenav ul li a span {
        font-size: 10px;
    }
    #sidenav ul li a i {
        margin-right: 0;
        display: block;
        font-size: 16px;
    }
    #sidenav {
        margin-left: 0;
    }
    #sidenav.active .sidenav-header{
        display: block;
    }
    #sidenav.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 12px;
    }
    #sidenav.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 20px;
        margin-bottom: 5px;
    }
    #sidenavCollapse{
        display: block;
        width: 40px;
        margin-left: 15px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px){
    #topnav ul li.dropdown #navbardrop{
        position: absolute;
        top: -15px;
        left: -50px;
    }
    #topnav ul li .dropdown-menu{
        left: -220px;
        top: 25px;
        font-size: 0.7em;
    }
}

#alertmessages h6{
    word-wrap: break-word;
}
#alertmessages{
    width:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.container-fluid #content{
    padding: 20px;
    height: 100%;
    width: 100%;
}

.container-fluid #profilecontent #userimage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid #e6e6e6;
    padding:15px;
    margin-top:10px;
    border-radius: 10px;
}

.container-fluid #profilecontent #userimage i{
    font-size: 10em;
    padding: 10px;
    color: dimgray;
    border-radius: 1000%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.container-fluid #profilecontent .row .col-4,.col-6,.col-2{
    margin-bottom: 20px;
    font-size: 20px;
    width:100%;
    color: #808080;
    color: cadetblue;
    word-wrap: break-word;
}

.container-fluid #roomcontent{
	border: 1px solid #e6e6e6;
    display: flex;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
	align-items:center;
    display: none;
	padding: 10px;
    color: cadetblue;
    text-transform: uppercase;
}

.container-fluid #roomcontent form{
    width:90%;
}

.container-fluid #roomcontent .room-icons{
    text-transform: none;
    color: gray;
    max-width: 100%;
    border:1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1px;
}

.container-fluid #roomcontent .room-icons .room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:gray;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif
}

.container-fluid #roomcontent .room-icons .room .room_radio_input{
    opacity: 0;
}

.room_radio_input + label span {
    cursor:pointer;
}

.room_radio_input:checked + label span {
    color:white;
    border: 1px solid gray;
    background-color: gray;
}

.container-fluid #roomcontent .room-icons .room i{
    font-size: 48px;
    cursor: pointer;
}

.container-fluid #roomcontent .btn-disabled{
    color:white;
    border-color:rgba(255,0,0,0.5);
    background-color:rgba(255,0,0,0.5);
}

.container-fluid #roomcontent .selectedroom{
    margin-right: 10px;
    padding:5px;
    border-radius: 5px;
}

.container-fluid #billcontent{
    border: 1px solid #e6e6e6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.container-fluid #billcontent p{
    font-size: 1.2em;
    color: cadetblue;
    font-family: 'Cinzel',serif;
    font-weight: 700;
    position: relative;
    top: 9px;
}

.container-fluid #homecontent{
    border: 1px solid #e6e6e6;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid #homecontent p{
    font-size: 1.2em;
    font-family: 'Cinzel',serif;
    color: #999999;
    font-weight: 700;
}

.container-fluid #homecontent h2{
    color: cadetblue;
}

.container-fluid #homecontent h2 span{
    color: black;
    font-family: 'Cinzel',serif;
}

.container-fluid #homecontent i{
    margin: auto;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2em;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    text-align: center;
}

.container-fluid #homecontent i.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
           /*Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(255,255,255,0.2);
}


.container-fluid #homecontent i.fa-facebook-f:hover{
    background-color: #4d4dff;
    color: white;
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.container-fluid #homecontent i.fa-whatsapp:hover{
    color: white;
    background-color: #2eb82e;
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.container-fluid #leavecontent {
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
    width:100%;
    height:100%;
    color: #808080;
    color: cadetblue;
    border:1px solid #e6e6e6;
}

.container-fluid #leavecontent form{
    width: 90%;
}

